<md-dialog aria-label="Power Calculator">
	<form>
		<md-dialog-content style="max-width:800px;max-height:810px; ">
			<md-slider flex="30" min="25" max="500" ng-model="gpu.power" aria-label="Power supply"
			           id="power-supply" class="md-primary">
			</md-slider>
			<md-input-container>
				<label>Max power consumption in Watt</label>
				<input type="number" ng-model="gpu.power" aria-controls="power-supply">
			</md-input-container>
		</md-dialog-content>
		<div class="md-actions" layout="row">
			<md-button ng-click="hide()">
				Ok
			</md-button>
		</div>
	</form>
</md-dialog>