<!DOCTYPE html>
<html lang="en">
<head>
	<title>Ethereum Mining Profitability Calculator</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
	<link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>

	<link rel="stylesheet" href="assets/app.css"/>
</head>

<body ng-app="calculatorApp" layout="column" ng-controller="HomeCtrl as home" data-ng-init="init()">

<!--Header-->
<md-toolbar layout="row" layout-sm="column" class="md-whiteframe-z1" layout-align="center center">
	<div flex layout-fill>
		<h1>Ethereum Mining Profitability Calculator</h1>
	</div>
	<div flex layout="row" layout-align="end center">
		<md-select ng-model="currency">
			<md-option ng-repeat="cur in currencies" value="{{cur.sym}}">{{cur.name}} ({{cur.sym}})</md-option>
		</md-select>
		<md-button href="https://github.com/anthonygraignic/ethereum-mining-calculator" class="md-icon-button"
		           aria-label="About">
			<md-icon md-svg-icon="help"></md-icon>
		</md-button>
	</div>
</md-toolbar>

<!--Main-->
<div layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
	<form name="calculatorForm">
		<md-content id="content">
			<md-card>
				<md-card-content>
					<h1 class="md-title">Your Hashrate: </h1>

					<div layout="row" layout-sm="column" layout-align="start center">
						<!-- Hashrate-->
						<md-input-container>
							<label>Hashrate in MH/s</label>
							<input type="number" min="0" max="9999999" step="any" name="hashrate"
							       ng-model="user.gpu.hashrate"
							       required ng-change="resetGPU(); computeProfits();">

							<div ng-messages="calculatorForm.hashrate.$error"
							     ng-show="calculatorForm.hashrate.$dirty && calculatorForm.hashrate.$invalid">
								<!--<div ng-message="min">Come on, don't understimate yourself !</div>-->
								<div ng-message="max">Impossibruuuuuuuuuuuu</div>
							</div>
						</md-input-container>

						<!-- GPU choice-->
						<md-input-container>
							<md-select placeholder="Select your GPU" ng-model="user.gpu" md-on-open="loadGPUs()"
							           ng-change="computeProfits()">
								<md-optgroup label="AMD">
									<md-option ng-value="gpu" ng-repeat="gpu in gpus | filter: {vendor: 'AMD' }">
										{{gpu.name}} on {{gpu.os}}
									</md-option>
								</md-optgroup>
								<md-optgroup label="Nvidia">
									<md-option ng-value="gpu" ng-repeat="gpu in gpus | filter: {vendor: 'Nvidia' }">
										{{gpu.name}} on {{gpu.os}}
									</md-option>
								</md-optgroup>
								<md-optgroup label="Cloud">
									<md-option ng-value="gpu" ng-repeat="gpu in gpus | filter: {vendor: 'Cloud' }">
										{{gpu.name}} on {{gpu.os}}
									</md-option>
								</md-optgroup>
							</md-select>
						</md-input-container>

						<!-- Cloud pricing-->
						<md-input-container ng-show="user.gpu.vendor ==='Cloud'">
							<label>Instance hourly price in {{ currency }}</label>
							<input type="number" step="0.01" ng-model="user.gpu.price" ng-change="computeProfits()">
						</md-input-container>
					</div>

					<div layout="row" layout-sm="column">
						<md-input-container flex>
							<label>Network Hashrate in GH/s</label>
							<input type="number" min="0" step="any" ng-model="network.hashrate"
							       ng-change="computeProfits()">
						</md-input-container>
						<md-input-container flex>
							<label>Average Blocktime in seconds</label>
							<input type="number" min="0" step="any" ng-model="network.blockTime"
							       ng-change="computeProfits()">
						</md-input-container>
						<md-input-container>
							<label>1 ETH Price {{network.market.price.usd | currency:undefined:3}} <b>({{network.market.change}}
								%)</b></label>
							<input type="number" step="any" ng-model="user.price.usd" ng-change="computeProfits()">
							<!--<md-select ng-model="currency">-->
							<!--</md-select>-->
						</md-input-container>
					</div>
					<md-checkbox ng-model="user.electricity" aria-label="Electricity costs"
					             ng-disabled="!user.gpu || user.gpu.vendor ==='Cloud'" ng-change="computeEnergyCosts()">
						Electricity costs
					</md-checkbox>
					<div layout="row" layout-sm="column" ng-if="user.electricity && user.gpu"
					     layout-align="center center">
						<md-input-container flex="20">
							<label>{{ currency }} per KWh</label>
							<input type="number" step="0.0001" ng-model="electricity.price" ng-change="computeEnergyCosts()">
						</md-input-container>
						<md-button class="md-icon-button" ng-click="showAdvanced($event)" aria-label="Power supply">
							<md-icon md-svg-icon="power"></md-icon>
						</md-button>
						<md-slider flex="30" min="0" step="1" max="500" ng-model="user.gpu.power" aria-label="Power supply"
						           id="power-supply" class="md-primary" ng-change="computeEnergyCosts()">
						</md-slider>
						<md-input-container>
							<label>Max power in Watts</label>
							<input type="number" ng-model="user.gpu.power" aria-controls="power-supply" ng-change="computeEnergyCosts()">
						</md-input-container>
					</div>
				</md-card-content>
				<div class="md-actions" layout="row" layout-align="end center">
					<md-button class="md-raised md-warn" ng-click="reset()">Reset</md-button>
				</div>
			</md-card>
			<md-card>
				<md-card-content>
					<md-subheader class="md-no-sticky">Earnings</md-subheader>
					<md-list ng-repeat="earning in earnings.tab">
						<md-list-item>
							<p>{{earning.label}}</p>

							<p>{{earning.eth|number:6}} ETH</p>

							<p ng-style="earning.price < 0 && {'color': 'red'}">
								{{earning.price | currency:undefined:6}}
							</p>
						</md-list-item>
						<md-divider ng-hide="earning.last"></md-divider>
					</md-list>
				</md-card-content>

			</md-card>
			<md-card>
				<md-card-content>
					<h1 class="md-title">Notes</h1>

					<p><i>Average block time</i> is calculated over the 64 last blocks.<br>
					</p>

					<p>References :
					<ul>
						<li>
							<a href="https://forum.ethereum.org/discussion/2134/gpu-mining-is-out-come-and-let-us-know-of-your-bench-scores">GPU
								Mining score</a>
						</li>
						<li>
							Ethereum Charts & data on <a href="http://coinmarketcap.com/currencies/ethereum/">CoinMarketCap</a>
						</li>
						<li>
							KWh price (Residential June 2015) from <a href="http://www.eia.gov/electricity/monthly/epm_table_grapher.cfm?t=epmt_5_6_a">eia.gov</a>
						</li>
					</ul>
					</p>

				</md-card-content>
				<md-card-footer>
					Donate to the creator: <a
						href="https://etherchain.org/account/0x1d4f6afc0e305048ae0a9be9f76b4b89d4a360a5">
					0x1d4f6afc0e305048ae0a9be9f76b4b89d4a360a5</a>
				</md-card-footer>
			</md-card>
		</md-content>
	</form>
</div>

<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

<script src="./src/calculator/js/Calculator.js"></script>
<script src="./src/calculator/js/HomeCtrl.js"></script>

<!--<script src="./bower_components/material-design-icons/action/svg/production/ic_help_48px.svg"></script>-->

<script type="text/javascript">

	angular
			.module('calculatorApp', ['ngMaterial', 'calculator'])
			.config(function ($mdThemingProvider, $mdIconProvider) {

//					https://www.google.com/design/icons/
				$mdIconProvider.icon("help", "./assets/svg/ic_help_48px.svg", 48)
											.icon("power", "./assets/svg/ic_power_48px.svg", 48)
				;

				$mdThemingProvider.theme('default');

			});

</script>

</body>
</html>
