<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mining Calculator</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
</head>

<body ng-app="calculatorApp" layout="column" ng-controller="HomeCtrl as home" data-ng-init="init()">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!--Header-->
<md-toolbar layout="row" layout-sm="column" class="md-whiteframe-z1" layout-align="center center">
  <div flex layout-fill>
    <h1>Mining Calculator</h1>
  </div>
  <div flex layout="row" layout-align="end center">
    <md-select ng-model="currency" aria-label="Local Currency">
      <md-option  ng-repeat="cur in currencies" aria-label="{{cur.name}}" value="{{cur.sym}}">{{cur.name}} ({{cur.sym}})</md-option>
    </md-select>
    <md-button href="https://github.com/findkiko/ethereum-mining-calculator" class="md-icon-button"
               aria-label="About">
      <md-icon md-svg-icon="help"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<!--Main-->
<div layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
  <form name="calculatorForm">
    <md-content id="content">
      <md-card>
        <md-card-content>
          <md-subheader>Load Scenario</md-subheader>
            <!-- Scenario choice-->
            <md-input-container flex>
              <md-select placeholder="Load a Scenario" ng-model="user.scenario" md-on-open="loadScenarios()"
                         ng-change="selectScenario()">
                <md-optgroup label="Scenarios">
                  <md-option ng-value="scenario" ng-repeat="scenario in scenarios">
                    {{scenario.title}}
                  </md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-content>
          <md-subheader>Miner Performance</md-subheader>
          <div layout="row" layout-sm="column" layout-align="start center">
            <!-- GPU choice-->
            <md-input-container flex>
              <md-select placeholder="Select your Miner" ng-model="user.gpu" md-on-open="loadGPUs()"
                         ng-change="selectGPU()">
                <md-optgroup label="BitMain">
                  <md-option ng-value="gpu" ng-repeat="gpu in gpus | filter: {vendor: 'BitMain' }">
                    {{gpu.name}}
                  </md-option>
                </md-optgroup>
                <md-optgroup label="Spondoolies">
                  <md-option ng-value="gpu" ng-repeat="gpu in gpus | filter: {vendor: 'Spondoolies' }">
                    {{gpu.name}}
                  </md-option>
                </md-optgroup>
                <md-optgroup label="Avalon">
                  <md-option ng-value="gpu" ng-repeat="gpu in gpus | filter: {vendor: 'Avalon' }">
                    {{gpu.name}}
                  </md-option>
                </md-optgroup>
                <md-optgroup label="Cloud">
                  <md-option ng-value="gpu" ng-repeat="gpu in gpus | filter: {vendor: 'Cloud' }">
                    {{gpu.name}}
                  </md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>

            <!-- Number of units-->
            <md-input-container flex>
              <label>Number of units</label>
              <input type="number" min="1" step="20" ng-model="roi.quantity"
                     ng-change="computeEnergyCosts(); computeProfits()">
            </md-input-container>
            <md-input-container flex>
              <label>XBT Price ({{facts.market.price.usd | currency:undefined:2}})</label>
              <input type="number" step="20" ng-disabled="!user.gpu" ng-model="user.price.usd" ng-change="computeProfits()">
              <!--<md-select ng-model="currency">-->
              <!--</md-select>-->
            </md-input-container>
          </div>
          <div layout="row" layout-sm="column" layout-align="start center">
            <!-- Hashrate-->
            <md-input-container flex>
              <label>Hashrate per unit (GH)</label>
              <input type="number" min="0" max="9999999" step="50" name="hashrate"
                     ng-model="user.gpu.hashrate"
                     required ng-change="computeEnergyCosts(); computeProfits();">
              <!-- <div ng-messages="calculatorForm.hashrate.$error" -->
              <!--      ng-show="calculatorForm.hashrate.$dirty && calculatorForm.hashrate.$invalid"> -->
              <!--   <div ng-message="min">Error: Non positive hashrate.</div> -->
              <!--   <div ng-message="max">Error: Maximum rate exceeded.</div> -->
              <!-- </div> -->
            </md-input-container>

            <!-- Power-->
            <md-input-container flex>
              <label>Power per Unit (W)</label>
              <input type="number" step="50" ng-model="user.gpu.power" aria-controls="power-supply"
                     ng-change="computeEnergyCosts()">
            </md-input-container>
            <md-slider flex hide-sm hide-md min="0" step="50" max="5000" ng-model="user.gpu.power"
                       aria-label="Power supply"
                       id="power-supply" class="md-primary" ng-change="computeEnergyCosts()">
            </md-slider>
            <!-- Cloud pricing-->
            <md-input-container ng-show="user.gpu.vendor ==='Cloud'">
              <label>Instance hourly price in {{ currency }}</label>
              <input type="number" step="0.01" ng-model="user.gpu.costs" ng-change="computeProfits()">
            </md-input-container>
          </div>
          <div layout="row" layout-sm="column" flex>
            <md-input-container flex>
              <label>Difficulty Inc. (% per cycle)</label>
              <input type="number" min="0" max="10" step="0.1" ng-model="network.diffIncrease"
                     ng-change="computeProfits()">
            </md-input-container>
            <md-input-container flex>
              <md-checkbox ng-model="network.linearDiff" aria-label="Linear or exponential diff increase"
                            ng-change="computeEnergyCosts()">
                Linear Diff (not Exp.)
              </md-checkbox>
            </md-input-container>
            <md-input-container>
              <label>Start date</label>
              <md-datepicker ng-model="roi.startDate" md-placeholder="Start date"
                             ng-change="computeProfits()"></md-datepicker>
            </md-input-container>
          </div>
          <div layout="row" layout-sm="column" layout-align="start center">
            <md-checkbox ng-model="user.electricity" aria-label="Electricity costs"
                         ng-disabled="!user.gpu || user.gpu.vendor ==='Cloud'" ng-change="computeEnergyCosts()">
              Power costs
            </md-checkbox>
            <div layout="row" layout-sm="column" ng-if="user.electricity && user.gpu"
                 ng-hide="!user.gpu || user.gpu.vendor ==='Cloud'">
              <md-input-container>
                <label>{{ currency }} per KWh</label>
                <input type="number" step="0.005" ng-model="electricity.price"
                       ng-change="computeEnergyCosts()">
              </md-input-container>
            </div>
          </div>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button class="md-raised md-warn" ng-click="reset()">Reset</md-button>
        </div>
      </md-card>
      <md-card>
        <md-card-content>
          <md-subheader>Calendar ROI</md-subheader>
          <div class="md-actions" layout="row" layout-align="end center">
            <rickshaw
              rickshaw-options="options"
              rickshaw-features="features"
              rickshaw-series="series">
            </rickshaw>
          </div>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-content>
          <md-subheader>Profit-Price Convexity</md-subheader>
          <div class="md-actions" layout="row" layout-align="end center">
            <rickshaw
              rickshaw-options="options2"
              rickshaw-features="features2"
              rickshaw-series="series2">
            </rickshaw>
          </div>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-content>
          <md-subheader>Cost Base</md-subheader>
              <!-- Start Diff-->
          <p ng-show="user.gpu && user.gpu.vendor ==='Cloud'">Nothing to calculate !</p>

          <div layout="row" layout-sm="column" ng-hide="!user.gpu || user.gpu.vendor ==='Cloud'">
            <!--<div layout="column">-->
            <md-input-container>
              <label>Per Unit cost in {{ currency }}</label>
              <input type="number" step="1" ng-model="earnings.capitalPerUnit" aria-controls="capitalPerUnit"
                     ng-change="computeProfits()">
            </md-input-container>
            <md-input-container>
              <label>Fixed Startup cost in {{ currency }}</label>
              <input type="number" step="200" ng-model="roi.startupFixed" aria-controls="startupFixed"
                     ng-change="computeProfits()">
            </md-input-container>
            <md-input-container>
              <label>Per unit startup cost in {{ currency }}</label>
              <input type="number" step="1" ng-model="roi.startupPerUnit" aria-controls="startupPerUnit"
                     ng-change="computeProfits()">
            </md-input-container>
            <!--</div>-->
          </div>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-content>
          <md-subheader>Earnings Summary</md-subheader>
          <div layout="row" layout-sm="column">
            <div flex>
              Initial Capital: {{earnings.tab[0].roi | currency:undefined:0}}
            </div>
            <div flex>
              Break-even: {{roi.date}}
            </div>
            <div flex>
              Total Profit: <span ng-style="earnings.totalProfit < 0 && {'color': 'red'}">{{earnings.totalProfit | currency:undefined:0}}</span>
            </div>
            <div flex>
              Annualized ROI: <span ng-style="earnings.annProfit < 0 && {'color': 'red'}">{{earnings.annProfit | number:1}}%</span>
            </div>
            <div flex>
              Total ROI: <span ng-style="earnings.percentProfit < 0 && {'color': 'red'}">{{earnings.percentProfit | number:1}}%</span>
            </div>
            <div flex>
              Unplug Date: {{earnings.tab[earnings.tab.length -1].label}}
            </div>
          </div>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-content>
          <md-subheader>Earnings Breakdown</md-subheader>
          <md-list-item>
            <p>Period</p>
            <p>XBT Income</p>
            <p>Profit</p>
            <p>ROI</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-list ng-repeat="earning in earnings.tab">
            <md-list-item>
              <p>{{earning.label}}</p>

              <p>{{earning.eth|number:3}} XBT</p>

              <p ng-style="earning.price < 0 && {'color': 'red'}">
                {{earning.price | currency:undefined:2}}
              </p>

              <p ng-style="earning.roi < 0 && {'color': 'red'}">
                {{earning.roi | currency:undefined:2}}
              </p>
            </md-list-item>
            <md-divider ng-hide="earning.last"></md-divider>
          </md-list>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-content>
          <h1 class="md-title">Notes</h1>

          <p><i>Average block time</i> is calculated over the 64 last blocks.<br>
          </p>

          <p>References :
          <ul>
            <li>
              <a href="https://forum.ethereum.org/discussion/2134/gpu-mining-is-out-come-and-let-us-know-of-your-bench-scores">GPU
                Mining score</a>
            </li>
            <li>
              Bitcoin Charts & data on <a href="http://coinmarketcap.com/currencies/bitcoin/">CoinMarketCap</a>
            </li>
            <li>
              KWh price (Residential June 2015) from <a
                href="http://www.eia.gov/electricity/monthly/epm_table_grapher.cfm?t=epmt_5_6_a">eia.gov</a>
            </li>
          </ul>
          Source code can be found <a href="https://github.com/anthonygraignic/ethereum-mining-calculator">here</a>.
          </p>
        </md-card-content>
        <md-card-footer>
          Donate to the creator: <a
            href="https://etherchain.org/account/0x1d4f6afc0e305048ae0a9be9f76b4b89d4a360a5">
          0x1d4f6afc0e305048ae0a9be9f76b4b89d4a360a5</a>
        </md-card-footer>
      </md-card>
    </md-content>
  </form>
</div>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

<!--<script src="./bower_components/material-design-icons/action/svg/production/ic_help_48px.svg"></script>-->

<script type="text/javascript">

  angular
      .module('calculatorApp', ['ngMaterial', 'angular-rickshaw', 'calculator'])
      .config(function ($mdThemingProvider, $mdIconProvider) {

//          https://www.google.com/design/icons/
        $mdIconProvider.icon("help", "./assets/svg/ic_help_48px.svg", 48)
            .icon("power", "./assets/svg/ic_power_48px.svg", 48)
        ;

        $mdThemingProvider.theme('default');

      });

</script>

</body>
</html>
